.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__bSuHp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bSuHp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bSuHp > :global(.__wab_flex-container) > *,
.freeBox__bSuHp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bSuHp > :global(.__wab_flex-container) > picture > img,
.freeBox__bSuHp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__jTXtS {
  display: flex;
  flex-direction: column;
}
.freeBox__jTXtS > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jTXtS > :global(.__wab_flex-container) > *,
.freeBox__jTXtS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jTXtS > :global(.__wab_flex-container) > picture > img,
.freeBox__jTXtS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___5SiR {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__tpjPv:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__kehYk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fFhsh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v7Dne {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sZkQi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jmcgj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__mWrOr {
  height: auto;
}
.svg__q15Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ikUop:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___2Gxy4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__upTqb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tTeW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qPkXa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yx5Yt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qz4Wy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jKfsN:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__ivWRm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3Gr6Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__od4Rw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qA9Dp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__me3Cl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tavFd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gh3Oq:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__iw8KG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5RzTd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ui8W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hgibv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oUhGd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hbjbr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fkBNo:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___0OE9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g7Li8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__absjQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6DAs9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___70WtL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___87P8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tXN4:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__eGwOj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d8CDn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kg7Vw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___13WHv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jQeXq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__zZbHh {
  height: auto;
}
.svg__n4Num {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__f5XKp {
  display: flex;
  flex-direction: column;
}
.freeBox__f5XKp > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__f5XKp > :global(.__wab_flex-container) > *,
.freeBox__f5XKp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f5XKp > :global(.__wab_flex-container) > picture > img,
.freeBox__f5XKp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__nxBvL {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__e8SsK:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__pKlP2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ynHis {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dkiWy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kqPc6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rkUfq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__okmjo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__suoLp:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___8UzUk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Yp7W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Iyxk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__riS6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ndWMf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__yBhSh {
  height: auto;
}
.svg___9YsOx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__iFXud:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__poZwv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qWzOi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vqBpU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6Thk1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uyn9Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t9IG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___1J9Tw {
  display: flex;
  flex-direction: column;
}
.freeBox___1J9Tw > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___1J9Tw > :global(.__wab_flex-container) > *,
.freeBox___1J9Tw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1J9Tw > :global(.__wab_flex-container) > picture > img,
.freeBox___1J9Tw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__gJvUy {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.freeBox___2UV7Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  flex-wrap: wrap;
}
.svg__uoXcl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #f44336;
  min-width: 0;
  min-height: 0;
}
.svg___7Uo0C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ia7U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pTuaB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7X5Eb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__goTx {
  height: auto;
}
.svg__r9IDg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__f20Is {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #e91e63;
  min-width: 0;
  min-height: 0;
}
.svg__tGp8E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sCfud {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ihdz2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q5VrP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__kfuDc {
  height: auto;
}
.svg__oRhoF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dEmhr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #673ab7;
  min-width: 0;
  min-height: 0;
}
.svg__lyLfn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q4Fd0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__x5F8I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d1ZGx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__or0GF {
  height: auto;
}
.svg___3Q8Z1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__d3Dp9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #3f51b5;
  min-width: 0;
  min-height: 0;
}
.svg__n26Ha {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3AGbB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ehZbv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k3ZEi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__hkDQi {
  height: auto;
}
.svg___7TgLv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mYdrv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #03a9f4;
  min-width: 0;
  min-height: 0;
}
.svg__w0Gdt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k8Bqr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o3FVr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yxiOi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__n0RN2 {
  height: auto;
}
.svg__oTwx2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__afv8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #4caf50;
  min-width: 0;
  min-height: 0;
}
.svg__aCVx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__x83N6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rGwwk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vjhfE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___9QeUe {
  height: auto;
}
.svg__neFhe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__phXqb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #cddc39;
  min-width: 0;
  min-height: 0;
}
.svg__jVFh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zxoO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hKvn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kp3Uw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___5GJxo {
  height: auto;
}
.svg__or2ZS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dWett {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffeb3b;
  min-width: 0;
  min-height: 0;
}
.svg___0B9B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yCCjq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y6AAr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__frK3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__x0JjW {
  height: auto;
}
.svg__tDNcB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ctPLs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ff9800;
  min-width: 0;
  min-height: 0;
}
.svg__vZdNt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ggwFc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nsoom {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cVudd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__zbn7D {
  height: auto;
}
.svg__nZobM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hzXf2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ff5722;
  min-width: 0;
  min-height: 0;
}
.svg__nAvaK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___97YD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a76Lm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rsJLe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ryg2Z {
  height: auto;
}
.svg__mCGy6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___49It {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #795548;
  min-width: 0;
  min-height: 0;
}
.svg__wQruX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sXc2H {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yOk7A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vrq79 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__hPdWv {
  height: auto;
}
.svg__e1PvY {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qxHyL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #9e9e9e;
  min-width: 0;
  min-height: 0;
}
.svg__jbbEm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__guHzz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xVi3L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rozqq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___9HvFe {
  height: auto;
}
.svg__b2Y9G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__maxyN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #607d8b;
  min-width: 0;
  min-height: 0;
}
.svg__cCp3M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vibB5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gMppZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bq1Rk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__f4J83 {
  height: auto;
}
.svg__mrqum {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__rNyP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #000000;
  min-width: 0;
  min-height: 0;
}
.svg__qJgxi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pKrZu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Qvi6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vibv5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__uSm3W {
  height: auto;
}
.svg__dzamG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ah0Um {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #e5e5ea;
  min-width: 0;
  min-height: 0;
}
.svg__uw4Zm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hDgK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tCoWq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ieXUr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___7WzKc {
  height: auto;
}
.svg___2MzGt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ve07F {
  display: flex;
  flex-direction: column;
}
.freeBox__ve07F > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ve07F > :global(.__wab_flex-container) > *,
.freeBox__ve07F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ve07F > :global(.__wab_flex-container) > picture > img,
.freeBox__ve07F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___6DbDb {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__a1VNz:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___22YUu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dWxjo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5JmUn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ginre {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gqAiQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__p8C5I {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__oq6Bn:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__fosGa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__awN2N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ylO5T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nbEm9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n6KvI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__rynA {
  height: auto;
}
.svg__kuwBl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__x75Oc:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___66Oxb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Q5Uf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xWYt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xGn6I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sqFv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ayapV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fenNn:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__e15Fg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dyrrG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l6Jyv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z9U95 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7NicB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kgPy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___1KZsq:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__dVbdC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lmSiG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mQls {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i9Fo3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kYkBj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___36Y80 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gBg1K:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__kxy6K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Faad {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4CR7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jl5M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vXfOb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dIQfJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___68Smr:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__pMmjI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iaCuS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tBk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__te7Wp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m1Hla {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ljGjn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__nfPMk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__nfPMk > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nfPMk > :global(.__wab_flex-container) > *,
.freeBox__nfPMk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nfPMk > :global(.__wab_flex-container) > picture > img,
.freeBox__nfPMk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nfPMk > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__za6Ob:global(.__wab_instance) {
  position: relative;
}
.img__buwHs {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__buwHs > picture > img {
  object-fit: cover;
}
.img__buwHs > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__cA91M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__czn6F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ksbpm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d17Wn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___50Z0L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8NOi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__rcLuk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ytXi0 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__ygPi {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text___2TTug {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__tdUb4 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__wMfap:global(.__wab_instance) {
  position: relative;
}
.img__grZ8V {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__grZ8V > picture > img {
  object-fit: cover;
}
.img__grZ8V > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__nKNfR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lhpw6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fQ00A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sa5TI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yqakZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zjpcT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ri4Q7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___3Ae5B {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text___5WWys {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__rv9Lt {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__rhZif {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__mFah:global(.__wab_instance) {
  position: relative;
}
.img__avbYf {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__avbYf > picture > img {
  object-fit: cover;
}
.img__avbYf > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__pWs60 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tyedi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__knrv5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__awtwc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__msnGl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bpqEt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__fnAcu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___9Ihwc {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text___0Cob {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text___6F0BN {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text___68Zr {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__s1M0R:global(.__wab_instance) {
  position: relative;
}
.img___5Nnpr {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___5Nnpr > picture > img {
  object-fit: cover;
}
.img___5Nnpr > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__sDU9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qn6D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__cfi5E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4ZQna {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3HqHe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2V01I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__xEn4C {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__uiK5Y {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__dpda8 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__rwr0T {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__xG8Qw {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__yDcfl:global(.__wab_instance) {
  position: relative;
}
.img__uO7I4 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__uO7I4 > picture > img {
  object-fit: cover;
}
.img__uO7I4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__lhY2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___12KxN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__smOzM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ctUrJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qet5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kyLOw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__mWibQ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___1SzGw {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text___6AvBb {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__tqyJl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__kxqYj {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard___1PWqv:global(.__wab_instance) {
  position: relative;
}
.img__wxTme {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wxTme > picture > img {
  object-fit: cover;
}
.img__wxTme > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg___2Ch8N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nfgiO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fmMwD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ksKo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nfsBq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fuaF7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__vjkpH {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__z6Wsg {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__rjTar {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__mRlgY {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__qW39M {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__zvHsQ:global(.__wab_instance) {
  position: relative;
}
.img__w6Edp {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__w6Edp > picture > img {
  object-fit: cover;
}
.img__w6Edp > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__sWql {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ik8G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ut6Cl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__snaw9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Ohhm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b6Pup {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__xbTmp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__qwZkn {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__p79Mc {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__nhwYl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__fzWm {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard___82NtJ:global(.__wab_instance) {
  position: relative;
}
.img___4PZmH {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___4PZmH > picture > img {
  object-fit: cover;
}
.img___4PZmH > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__tEfDb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4ISwp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eHmR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f8DoH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zLabQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yoQiN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__eoCqk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__zOgoZ {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__hx6Us {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text___0AMgw {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__srh6 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__yXDgq:global(.__wab_instance) {
  position: relative;
}
.img__yeGh {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__yeGh > picture > img {
  object-fit: cover;
}
.img__yeGh > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg___8TfK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jxdQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lQdSl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sn7MK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8E1Ja {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ypC5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__f7G70 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__sDfC5 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__urBc7 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__caVg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text___5JMuv {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard___0Bzhp:global(.__wab_instance) {
  position: relative;
}
.img__tiuqt {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tiuqt > picture > img {
  object-fit: cover;
}
.img__tiuqt > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg___9QTyR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tlQok {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__w1PA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1NFrF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zwoV2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lYcOv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__m0UO {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__eViAq {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__fqaBs {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__fvViJ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__wmca {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard___3M9Y:global(.__wab_instance) {
  position: relative;
}
.img__k9LdV {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__k9LdV > picture > img {
  object-fit: cover;
}
.img__k9LdV > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__p0Pe8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ewbbo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ahs60 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bDkSo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kbsVy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___27Shy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___0H0KV {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___67IBy {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__fFwn3 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__txhiZ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__xRfEn {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__jCf5E:global(.__wab_instance) {
  position: relative;
}
.img__sB1WH {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__sB1WH > picture > img {
  object-fit: cover;
}
.img__sB1WH > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__ejjOd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fYwDl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qzRtT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__c62Sq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__erfmM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__na4Dr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__kxxDh {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__wURaI {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__ymOj6 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__lNvG {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__s1Nkq {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__lpYid:global(.__wab_instance) {
  position: relative;
}
.img__oa40 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__oa40 > picture > img {
  object-fit: cover;
}
.img__oa40 > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__bwHjF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uv996 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lvi22 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jchpw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xHlzO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ookz1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__wnx88 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__z6FJ3 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__uvQK {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__gmgIt {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__eeCEf {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__vmgtk:global(.__wab_instance) {
  position: relative;
}
.img__asw {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__asw > picture > img {
  object-fit: cover;
}
.img__asw > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg___4WW9A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___15Gbe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___6V1B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xMmv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mylei {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aFaaA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ufEg7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__w4JoL {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__s7ZPj {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__gSyPs {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text___7P59R {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__xsEhx:global(.__wab_instance) {
  position: relative;
}
.img__nTt6U {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__nTt6U > picture > img {
  object-fit: cover;
}
.img__nTt6U > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg___3CgIy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7S0Nb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wgf2R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dBkxG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7NDrR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kYcVe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__jjCtl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__pQvKt {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text__mwXq0 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__qoz2L {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__cGsXy {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard___6NG3W:global(.__wab_instance) {
  position: relative;
}
.img__ztHpf {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ztHpf > picture > img {
  object-fit: cover;
}
.img__ztHpf > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__cufPq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rXd7Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__cbX8F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eVgsk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Wxs3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__raqBv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__skwf {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___1BzLq {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: nhwmYGczkjOt */;
  text-align: left;
  min-width: 0;
}
.text___79Fuj {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__gXg7M {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__njPs7 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.footer:global(.__wab_instance) {
  position: relative;
}
