.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
}
.container2 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 0;
  padding: 32px;
}
.svg__bFy4V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ge0X8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zmLpg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ljkRa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oVym2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tFeeg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__i9P0 {
  display: block;
  position: relative;
  width: 63.994789123535156px;
  height: 64px;
  background: #ffffff33;
  flex-shrink: 0;
}
.freeBox__euemu {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__euemu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__euemu > :global(.__wab_flex-container) > *,
.freeBox__euemu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__euemu > :global(.__wab_flex-container) > picture > img,
.freeBox__euemu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button__searchOpen__lFpjgM2P3O:global(.__wab_instance) {
  min-width: 200px;
}
.svg__xP5VF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ipfg5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hpJzS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uaKD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Ruy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yP9AM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.textbox {
  position: relative;
  min-width: 200px;
}
.textbox__searchOpen {
  line-height: 24px;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root__searchOpen .textbox__searchOpen:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.svg__e9A7B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__p3W1F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vdcm6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ahPkY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pjfzP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fxeog {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__vterE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__ro2HT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__xp7C3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qNDrb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__alXwN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pZlXv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k95E2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
